body{
    margin: 0px;
}

.header{
    height: 500px;
    background-color: #1f2937;
}

.container{
    height: 400px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head p{
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: #f9f4f8;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
    color: #efe7eb;
    font-size: 18px;
}

a{
    color: #efe7eb;
    text-decoration: none;
}

.headbot{
    height: 300px;
    display: flex;
    gap: 60px;
}

.headtxt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headtxt div{
    font-size: 48px;
    font-weight: bolder;
    color: #f9f4f8;
}

.headtxt p{
    font-size: 18px;
    color: #efe7eb;
}

.headtxt button{
    border: none;
    align-self: flex-start;
}

button{
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 10px;
    border-color: white;
}

.headbot img{
    width: 600px;
}

.info{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-head{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.cards{
    display: flex;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 200px;
}

.cards img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.card p{
    text-align: center;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #efe8eb;
}

.content{
    height: 300px;
    width: 1000px;
}

.quo{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 15px;
}

.writer{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.call{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    height: 250px;
    width: 1200px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
}

.calling{
    font-size: 24px;
    color: #f9f4f8;
    font-weight: bold;
}

.mess{
    font-size: 18px;
    color: #efe7eb;
}

.action button{
    border-color: white;
}

.footer{
    background-color: #1f2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f4f8;
}